.blick {
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: rgba(#fff, 0.6);
    transform: translateX(-200%) skewX(-45deg);
    
    animation-name: move-blick;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
}

.small-blick {
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;
    background-color: rgba(#fff, 0.6);
    transform: translateX(-200%) skewX(-45deg);
    
    animation-name: move-blick;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
}

.move {
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes move {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(5%s);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-blick {
  from {
    transform: translateX(-200%) skewX(-45deg);
  }
  to {
    transform: translateX(26em) skewX(-45deg);
  }
}



  