.checkpoints {
    margin-top: 5.208vw;
    margin-left: 0.260vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include responsive(mobile) {
        margin-top: 53.846vw;
        flex-direction: column;
        padding-bottom: 11.538vw;
    }


    &__item {
        width: 20.833vw;
        height: 11.458vw;
        padding: 2.031vw 0 2.083vw 2.083vw;
        border-radius: 2.344vw;
        box-shadow: 0px 0.938vw 2.448vw 0.208vw rgba(0, 0, 0, 0.14);
        background-color: #ffffff;
        color: #333333;
        position: relative;

        @include responsive(mobile) {
            width: 80.769vw;
            height: 42.308vw;
            margin-top: 7.692vw;
            margin-right: 0.577vw;
            padding: 9.038vw 0 0 7.692vw;
            border-radius: 8.654vw;
            box-shadow: 0px 3.462vw 9.019vw 0.788vw rgba(0, 0, 0, 0.14);
        }

        &:first-child {
            @include responsive(mobile) {
                margin-top: 0;
            }
        }
    }

    &__item:last-child {
        margin-right: 0.260vw;
        @include responsive(mobile) {
            padding-top: 7.115vw;
            margin-right: 0.577vw;
        }
    }


    &__title {
        font-family: "Philosopher";
        font-size: 1.354vw;
        font-weight: 700;
        line-height: 0.94;

        @include responsive(mobile) {
            font-size: 5vw;
            font-weight: 700;
            line-height: 0.94;
            text-align: left;
            color: #333333;
        }
    }

    &__text {
        margin-top: 0.938vw;
        font-size: 0.729vw;
        font-weight: 400;
        line-height: 1.43;

        @include responsive(mobile) {
            margin-top: 3.654vw;
            font-size: 2.692vw;
            line-height: 1.43;
            text-align: left;
            color: #333333;
        }

        span {
            font-weight: 600;
        }
    }

    &-img {
        position: absolute;
    }

    .img-ok {
        width: 2.083vw;
        top: -1.042vw;
        left: 50%;
        transform: translateX(-50%);

        @include responsive(mobile) {
            width: 7.692vw;
            top: -3.846vw;
        }
    }

    .img-present, 
    .img-tile {
        right: 0;
        top: 56%;
        transform: translateY(-50%);
    }

    .img-present {
        width: 7.344vw;

        @include responsive(mobile) {
            top: 21.731vw;
            width: 26.923vw;
        }
    }

    .img-tile {
        width: 8.594vw;

        @include responsive(mobile) {
            top: 23.654vw;
            width: 32.308vw;
        }
    }

    .img-machine {
        width: 13.021vw;
        top: 51%;
        left: 50%;
        transform: translate(25%, -50%);

        @include responsive(mobile) {
            width: 47.115vw;
            top: 21.154vw;
            left: 41.154vw;
        }
    }
}