.choice-materials {
    position: relative;

    .bg-laptop {
        width: 23.490vw;
        position: absolute;
        top: 5.990vw;
        left: 0;

        @include responsive(mobile) {
            width: 26.346vw;
            top: auto;
            bottom: 30.962vw;
            z-index: 1500;
        }
    }

    .payment-sms__image {
        @include responsive(mobile) {
            top: 86.346vw;
        }
    }

    .slider-block {
        @include responsive(mobile) {
            top: 50vw;
        }
    }


    &__inner {
        width: 68.750vw;
        height: 25vw;
        margin: 0 auto;
        padding-top: 1.250vw;
        padding-left: 3.854vw;
        position: relative;

        @include responsive(mobile) {
            width: 100%;
            height: auto;
            padding-top: 0;
            padding-left: 0;
        }
    }

    &__icon-wrapper {
        width: 27.083vw;
        margin-top: 1.354vw;
        margin-left: 0.260vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive(mobile) {
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            padding-top: 3.846vw;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .payment-sms__icons-label {
        @include responsive(mobile) {
            margin-top: -1.346vw;
        }
    }

    &__partners {
        margin-top: 2.083vw;
        width: 27.083vw;
        padding: 0.990vw 0;
        border-top: 0.052vw solid #cccccc;
        border-bottom: 0.052vw solid #cccccc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include responsive(mobile) {
            width: 100%;
            margin-top: 136.538vw;
            padding-top: 2.500vw;
            padding-bottom: 2.308vw;
            padding-left: 31.538vw;
            padding-right: 6.923vw;
        }

        &-item {
            width: 8.333vw;
            margin-top: 0.625vw;

            @include responsive(mobile) {
                width: 18.846vw;
                margin-top: 1.154vw;
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 0;
            }
        }
    }
}    