// finished-goods styles
.finished-goods {
    width: 100%;
    padding-top: 4.323vw;
    padding-bottom: 2.552vw;

    .section__title {
        &-subtitle {
            width: 100%;
            font-size: 1.354vw;
            line-height: 1.08;
        }

        &-title {
            margin-top: 0.521vw;
            font-size: 2.500vw;
            line-height: 1.04;
        }
    }

    &__product {
        width: 20.833vw;
        height: 100%;
        border-left: 1px solid #cccccc;
    }

    .product {

        &__figure {
            display: block;
            width: 5.208vw;
            height: 5.208vw;
            margin: 0 auto;
            margin-top: 3.177vw;
            border-radius: 0.521vw;
            background-color: #f1f1f1;
            transform: rotate(45deg);
        }

        &__name {
            margin-top: 2.917vw;
            font-family: "Philosopher";
            font-size: 1.354vw;
            font-weight: bold;
            line-height: 1.08;
            text-align: center;
            color: #333333;

            span {
                display: block;
                margin-top: 0.156vw;
                font-size: 1.563vw;
                font-style: italic;
                line-height: 1.13;
                color: #6279db;
            }
        }

        &__pricelist {
            margin-top: 3.125vw;
            margin-left: 3.125vw;

            &-items {
                margin-top: 1.406vw;
                height: 4.167vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                font-size: 0.833vw;
                color: #929292;
            }

            &-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .product-deadline,
            .product-total {
                font-size: 1.042vw;
                font-weight: bold;
                line-height: 1.5;
                text-align: left;
                color: #333333;
            }

            .product-total {
                margin-top: 0.729vw;
            }

            .pricelist-item {
                &__name {
                    width: 8.854vw;
                    text-align: left;
                }
            }
        }

        &__button-wrapper {
            display: inline-block;
            margin-top: 3.177vw;
            margin-left: 2.552vw;

            .prouct-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15.625vw;
                height: 3.125vw;
                border-radius: 1.563vw;
                box-shadow: 0px 0.521vw 2.083vw 0 rgba(251, 88, 72, 0.45);
                background-image: linear-gradient(to top, #ff8f6f, #fb5848);
                outline: none;
                font-size: 0.729vw;
                font-weight: 600;
                letter-spacing: 0.029vw;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }

    &__slider {
        margin-top: 0.104vw;

        .slide {
            width: auto;
            height: 41.979vw;
            position: relative;
            outline: none;
            

            &-inner {
                width: 68.750vw;
                height: 37.500vw;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-radius: 2.865vw;
                background-color: #fff;
                box-shadow: 0px 0.938vw 2.443vw 0.214vw rgba(0, 0, 0, 0.14);
                position: absolute;
                top: 1.302vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .slider-btn {
        width: 3.125vw;
        height: 3.125vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 1.563vw;
        border: none;
        outline: none;
        box-shadow: 0px 0.521vw 2.083vw 0 rgba(251, 88, 72, 0.45);
        background-image: linear-gradient(to top, #ff8f6f, #fb5848);
        cursor: pointer;
        transition: all .2s;
        position: absolute;
        top: 18.594vw;
        z-index: 1000;

        img {
            width: 0.729vw;
            margin-left: 32%;
        }
    }

    .slider-btn:hover {
        transform: scale(1.2);
        transition: all .2s;
    }

    .next-slide {
        right: 10.417vw;
        img {
            transform: rotate(-180deg);
            margin-left: auto;
            margin-right: 32%;
        }
    }

    .prew-slide {
        left: 10.417vw;
    }

    .slick-dots {
        height: 8px !important;
        margin-top: -1.302vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            width: 0.521vw;
            height: 0.521vw;
            margin-left: 1.042vw;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            button {
                width: 0.521vw;
                height: 0.521vw;
                padding: 0;
                border-radius: 50%;
                border: none;
                font-size: 0;
                background-color: #cfccd7;
                outline: none;
                position: absolute;
                cursor: pointer;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .slick-active {
            button {
                background-color: #fe5644;
                
            }
        }
    }

    .slider-thumbs {
        width: 46.875vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        &__big-img {
            width: 40.625vw;
            height: 37.500vw;
            box-shadow: inset 0 0 6.094vw 0 rgba(168, 162, 180, 0.3);
            border-top-left-radius: 2.865vw;
            border-bottom-left-radius: 2.865vw;
            overflow: hidden;
            position: relative;

            .big-img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .small-image {
            width: 5.208vw;
            height: 5.208vw;
            margin-top: 1.563vw;
            border-radius: 1.563vw;
            border: solid 0.156vw #dcdcdc;
            background-color: #e8e8e8;
            position: relative;
            cursor: pointer;

            &:hover {
                border: solid 0.156vw #fe5644;
            }

            &:first-child {
                margin-top: 0;
            }

            img {
                width: 4.167vw;
                height: 4.167vw;
                border-radius: 1.042vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .small-image_active {
            border: solid 0.156vw #fe5644;
        }
    }

    
}