.first-screen {
    width: 100%;
    position: relative;
    padding-bottom: 3.698vw;

    @include responsive(desktop) {
        background-image: linear-gradient(180.0deg, rgba(0,0,0,0.05) -6%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0) 106%); 
    }
        
    @include responsive(mobile) {
        padding-bottom: 15vw;
    }

    .container {
        z-index: 10;

        @include responsive(mobile) {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 0 7.115vw;
            overflow: hidden;
        }
    }


    .bg-img {
        img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 67.708vw;
            height: 36.458vw;

            @include responsive(mobile) {
                width: 100%;
                height: auto;
                top: 57.692vw;
            }
        }
    }

    &__title {
        font-size: 1.875vw;
        line-height: 1.979vw;
        font-weight: 700;
        color: #333333;

        @include responsive(mobile) {
            font-size: 5vw;
            font-weight: 700;
            line-height: 1.08;
            text-align: left;
        }
    }

    &__subtitle {
        margin-top: 1.354vw;
        font-size: 1.042vw;
        line-height: 1.302vw;
        font-weight: 600;
        color: #777777;

        @include responsive(mobile) {
            margin-top: 0.962vw;
            font-size: 3.846vw;
            line-height: 1.25;
            text-align: left;
        }
    }
}

.title-block {
    padding-top: 4.583vw;
    margin-left: 0.260vw;

    @include responsive(mobile) {
        padding-top: 8.654vw;
        margin-left: 0;
    }
}

.iso-block {
    display: flex;
    align-items: center;
    margin-top: 3.490vw;
    margin-left: 5px;
    font-size: 0.833vw;
    line-height: 1.250vw;
    font-weight: 400;
    color: #333333;

    @include responsive(mobile) {
        margin-top: 4.038vw;
        align-items: flex-end;
        font-size: 3.077vw;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
    }

    span {
        font-weight: 700;

        @include responsive(mobile) {
            margin-left: -0.769vw;
        }
    }

    img {
        width: 1.667vw;
        margin-top: -0.208vw;
        margin-right: 0.573vw;

        @include responsive(mobile) {
            width: 6.154vw;
            margin-right: 1.731vw;
        }
    }
}

.prise-block {
    margin-top: 1.406vw;
    margin-left: 0.313vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    @include responsive(mobile) {
        width: 100%;
        margin-top: 7.692vw;
        margin-left: 0.962vw;
        justify-content: center;
    }

    &__prise {
        width: 25vw;
        height: 4.167vw;
        margin-right: 1.875vw;
        background-color: #ec7840;
        background-image: linear-gradient(to bottom, #ff8f6f, #fb5849);
        box-shadow: 0px 10px 20px 0px rgba(255,89,38,0.55);
        border-radius: 1.667vw;
        color: #ffffff;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            background-image: linear-gradient(to bottom, #ff7c54, #fc4c39);
        }

        @include responsive(mobile) {
            width: 84.615vw;
            height: 15.385vw;
            border-radius: 6.538vw;
        }

        .prise-title {
            font-size: 0.833vw;
            line-height: 1.2;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.04em;

            @include responsive(mobile) {
                font-size: 3.077vw;
                letter-spacing: 0.123vw;
                text-align: center;
                color: #ffffff;
            }
        }

        .prise-text {
            margin-top: 0.208vw;
            font-size: 0.729vw;
            line-height: 1.2;
            font-weight: 500;
            letter-spacing: 0.02em;

            @include responsive(mobile) {
                margin-top: 0.385vw;
                font-size: 2.692vw;
                letter-spacing: 0.056vw;
                text-align: center;
                color: #ffffff;
            }
        }
    }
    

    &__sale {
        display: flex;
        align-items: center;

        @include responsive(mobile) {
            display: none;
        }

        svg {
            display: inline-block;
            width: 2.604vw;
            margin-right: 0.625vw;

        }

        &-text {
            display: inline-block;
        }

        color: #333333;

        .sale-title {
            font-size: 0.938vw;
            line-height: 1.2;
            font-weight: 700;
        }

        .sale-text {
            margin-top: 0.208vw;
            font-size: 0.625vw;
            line-height: 0.781vw;
            font-weight: 400;
        }
    }
}


