.first-screen {
    width: 100%;
    position: relative;
    padding-bottom: 3.698vw;
    background-image: linear-gradient(180.0deg, rgba(0,0,0,0.05) -6%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0) 106%);


    // @include responsive(1366px) {
    //     padding-bottom: 5.198vws;
    // }

    .container {
        z-index: 10;
    }


    .bg-img {
        img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 67.708vw;
            height: 36.458vw;

            // @include responsive(1366px) {
            //     // width: 95.168vw;
            //     height: 51.245vw;
            // }

            @include responsive(mobile) {
                width: 100%;
                height: auto;
                top: 54.167vw;
            }
        }
    }

    &__title {
        font-size: 1.875vw;
        line-height: 1.979vw;
        font-weight: 700;
        color: #333333;

        // @include responsive(1366px) {
        //     font-size: 2.635vw;
        //     line-height: 2.782vw;
        // }

        @include responsive(mobile) {
            font-size: 4vw;
            line-height: 5.333vw;
        }
    }

    &__subtitle {
        margin-top: 1.354vw;
        font-size: 1.042vw;
        line-height: 1.302vw;
        font-weight: 600;
        color: #777777;

        // @include responsive(1366px) {
        //     margin-top: 1.903vw;
        //     font-size: 1.464vw;
        //     line-height: 1.830vw;
        // }

        @include responsive(mobile) {
            margin-top: 3.667vw;
            font-size: 3.167vw;
            line-height: 4.333vw;
        }
    }
}

.title-block {
    padding-top: 4.896vw;

    // @include responsive(1366px) {
    //     padding-top: 6.881vw;
    // }

    @include responsive(mobile) {
        padding-top: 6.333vw;
    }
}

.iso-block {
    display: flex;
    align-items: center;
    margin-top: 3.229vw;
    font-size: 0.833vw;
    line-height: 1.250vw;
    font-weight: 400;
    color: #333333;

    // @include responsive(1366px) {
    //     margin-top: 4.539vw;
    //     font-size: 1.171vw;
    //     line-height: 1.757vw;
    // }

    @include responsive(mobile) {
        margin-top: 6.667vw;
        font-size: 2.667vw;
        line-height: 1.3;
    }

    span {
        font-weight: 700;
    }

    img {
        width: 1.667vw;
        margin-right: 0.573vw;

        // @include responsive(1366px) {
        //     width: 2.343vw;
        //     margin-right: 0.805vw;
        // }

        @include responsive(mobile) {
            width: 5.833vw;
            margin-right: 1vw;
        }
    }
}

.prise-block {
    margin-top: 1.719vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    // @include responsive(1366px) {
    //     margin-top: 2.416vw;
    // }

    @include responsive(mobile) {
        margin-top: 40vw;
        justify-content: center;
    }

    &__prise {
        width: 25vw;
        height: 4.167vw;
        margin-right: 2.500vw;
        background-color: #ec7840;
        background-image: linear-gradient(180.0deg, #ff8f6f -6%, #fb5849 107%);
        box-shadow: 0px 10px 20px 0px rgba(255,89,38,0.55);
        border-radius: 2.083vw;
        color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // @include responsive(1366px) {
        //     width: 35.139vw;
        //     height: 5.857vw;
        //     margin-right: 3.514vw;
        //     border-radius: 2.928vw;
        // }

        @include responsive(mobile) {
            width: 85vw;
            height: 13.333vw;
            border-radius: 6.667vw;
        }

        .prise-title {
            font-size: 0.833vw;
            line-height: 1.2;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.04em;

            // @include responsive(1366px) {
            //     font-size: 1.171vw;
            // }

            @include responsive(mobile) {
                font-size: 2.667vw;
            }
        }

        .prise-text {
            margin-top: 0.469vw;
            font-size: 0.729vw;
            line-height: 1.2;
            font-weight: 500;
            letter-spacing: 0.02em;

            // @include responsive(1366px) {
            //     margin-top: 0.659vw;
            //     font-size: 1.025vw;
            // }

            @include responsive(mobile) {
                font-size: 1.667vw;
                margin-top: 0.333vw;
            }
        }
    }
    

    &__sale {

        @include responsive(mobile) {
            display: none;
        }

        img {
            display: inline-block;
            width: 2.604vw;
            margin-right: 0.677vw;

            // @include responsive(1366px) {
            //     width: 3.660vw;
            //     margin-right: 0.952vw;
            // }
        }

        &-text {
            display: inline-block;
        }

        color: #333333;

        .sale-title {
            font-size: 0.938vw;
            line-height: 1.2;
            font-weight: 700;

            // @include responsive(1366px) {
            //     font-size: 1.318vw;
            // }
        }

        .sale-text {
            margin-top: 0.417vw;
            font-size: 0.625vw;
            line-height: 0.781vw;
            font-weight: 400;

            // @include responsive(1366px) {
            //     margin-top: 0.586vw;
            //     font-size: 0.878vw;
            //     line-height: 1.098vw;
            // }
        }
    }
}


