*, html, body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    max-width: 69.427vw;
    margin: 0 auto;

    @include responsive(mobile) {
        max-width: 95%;
    }
}



.green-marcker {
    display: inline-block;
    width: 0.313vw;
    height: 0.313vw;
    border-radius: 50%;
    background-color: #52ac62;
    transform: translateY(-0.104vw);

    @include responsive(mobile) {
        width: 1vw;
        height: 1vw;
    }
}

.media__list {
    display: flex;
    margin-top: 0.521vw;
    justify-content: space-between;
    align-items: center;

}

.media__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.646vw;
    height: 1.563vw;
    margin-left: 0.521vw;
    border-radius: 0.781vw;

    svg {
        width: 3.646vw;
        height: 1.563vw;
    }
}

.whatsapp-btn {
    margin-left: 0;
    box-shadow: 0px 5px 10px 0 rgba(66, 168, 103, 0.45);
    background: rgb(127,196,151);
    background: linear-gradient(180deg, rgba(127,196,151,1) 43%, rgba(71,171,106,1) 100%);
}

.viber-btn {
    box-shadow: 0px 5px 10px 0 rgba(130, 90, 222, 0.45);
    background: rgb(173,147,233);
    background: linear-gradient(180deg, rgba(173,147,233,1) 43%, rgba(133,94,223,1) 100%);
}

.telegram-btn {
    box-shadow: 0px 5px 10px 0 rgba(76, 135, 214, 0.45);
    background: rgb(138,176,228);
    background: linear-gradient(180deg, rgba(138,176,228,1) 43%, rgba(73,133,213,1) 100%);
}