.header {
    width: 100%;
    height: 4.688vw;
    margin-top: 8px;

    @include responsive(1366px) {
        height: auto;
    }

    @include responsive(mobile) {
        padding: 3.846vw 0;
        padding-bottom: 3.269vw;
        margin-top: 0;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.13);

    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__logo {
        display: flex;
        align-items: center;
        margin-left: -0.208vw;

        @include responsive(mobile) {
            margin-top: 1.154vw;
        }
        
        img {
            width: 7.917vw;

            @include responsive(mobile) {
                width: 24.038vw;
            }
        }
    }

    &__text {
        width: 9.635vw;
        margin-left: 2.135vw;
        margin-bottom: 0.417vw;
        font-size: 0.625vw;
        line-height: 0.833vw;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #555555;

        @include responsive(mobile) {
            display: none;
        }
    }

    &__info {
        display: inline-block;
    }

    &__info:first-child {
        @include responsive(mobile) {
            display: none;
        }
    }

    &__info:nth-child(2) {
        margin-left: 3.846vw;
        
        @include responsive(mobile) {
            margin-top: 1.154vw;
        }

    }

    &__center {
        display: flex;
        align-items: center;
        margin-bottom: 0.625vw;
        margin-right: 0.313vw;

        @include responsive(mobile) {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__media {
        margin-left: 3.646vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;

        @include responsive(mobile) {
            display: none;
        }

        .info__text {
            display: inline-block;
            text-align: left;
            margin-left: 0.625vw;
        }
    }
}

.header__info:nth-child(2) {
    .info__text {
        @include responsive(mobile) {
            font-size: 2.308vw;
            line-height: 1.33;
            text-align: left;
            color: #777777;
        }

        .green-marcker {
            @include responsive(mobile) {
                margin-right: 2.692vw;
            }
        }
    }

    .info__title {
        @include responsive(mobile) {
            margin-top: 0.769vw;
            font-family: "Philosopher", sans-serif;
            font-size: 3.462vw;
            font-weight: 700;
            letter-spacing: 0.071vw;
            text-align: right;
            color: #252525;
        }
    }
}

.info__text {
    text-align: right;
    font-size: 0.625vw;
    line-height: 0.833vw;
    font-weight: 400;
    color: #777777;

}

.info__title {
    text-align: right;
    font-family: 'Philosopher', sans-serif;
    font-size: 0.964vw;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #252525;

}

.info__link {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    a {
        font-family: 'Philosopher', sans-serif;
        font-size: 2.692vw;
        font-weight: 700;
        text-align: right;
        color: #7da4ff;
        text-decoration: underline;
    }

    @include responsive(mobile) {
        display: block;
    }

    @include responsive(desktop) {
        display: none;
    }
}