// interior-solutions styles
.interior-solutions {
    margin-top: 5.573vw;

    @include responsive(mobile) {
        margin-top: 16.731vw;
    }

    .container {
        max-width: 68.750vw;

        @include responsive(mobile) {
            max-width: 95%;
        }
    }

    .section__title {
        &-subtitle {
            width: 33.594vw;

            @include responsive(mobile) {
                width: 100%;
            }
        }
    }

    .services-list {
        margin-top: 2.292vw;

        @include responsive(mobile) {
            margin-top: 8.654vw;
        }

        &__item {
            @include responsive(mobile) {
                margin-top: 8.846vw;
            }

            &:first-child {
                @include responsive(mobile) {
                    margin-top: 0;
                }
            }
        }

        &__img-wrapp {
            width: 20.833vw;
            height: 17.708vw;
            border-radius: 2.604vw;

            @include responsive(mobile) {
                width: 76.731vw;
                height: 65.192vw;
                border-radius: 9.615vw;
            }
        }
    
        &__label {
            margin-top: 0.729vw;

            @include responsive(mobile) {
                margin-top: 2.692vw;
            }
        }
    }
}