.header-menu {
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.12);

    .container {
        max-width: 68.750vw;
        padding: 0.677vw 0;

        @include responsive(mobile) {
            width: inherit;
            height: inherit;
        }
    }

    @include responsive(mobile) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }
}

.show {
    display: block;
}

.burger-menu {
    display: none;

    @include responsive(mobile) {
        display: block;
        width: 15.385vw;
        height: 15.385vw;
        border-radius: 5.962vw;
        background-image: linear-gradient(to bottom, #ff8f6f, #fb5849);
        box-shadow: 0px 1.923vw 3.846vw 0 rgba(255, 89, 38, 0.55);
        cursor: pointer;
        overflow: hidden;

        &:hover {
            background-image: linear-gradient(to bottom, #ff7c54, #fc4c39);
        }
    }

    span {
        position: absolute;
        top: 4.423vw;
        left: 50%;
        transform: translateX(-50%);

        &::before,
        &::after {
            content: '';
            position: absolute;

        }

    }

    span,
    span::before,
    span::after {
        display: block;
        width: 7.692vw;
        height: 1.154vw;
        border-radius: 1.154vw;
        background-color: #fff;
    }

    span::before {
        width: 6.538vw;
        top: 2.692vw;
        left: 1.154vw;
    }

    span::after {
        width: 5.769vw;
        top: 5.385vw;
        left: 1.923vw;
    }

   
}

.burger-lines {
    width: inherit;
    height: inherit;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include responsive(mobile) {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    &__close {
        display: none;
        @include responsive(mobile) {
            display: block;
            font-size: 80px;
            border: none;
            background-color: transparent;
            color: #fff;
            position: absolute;
            top: 12px;
            right: 28px;
            outline: none;
        }
    }

    &__item {
        margin-left: 1.719vw;

        @include responsive(mobile) {
            margin-left: 0;
            margin-top: 38px;
        }


    }

    &__link {
        font-size: 0.781vw;
        line-height: 1.2;
        font-weight: 600;
        color: #333333;

        // @include responsive(1366px) {
        //     font-size: 1.098vw;
        // }

        @include responsive(mobile) {
            font-size: 38px;
            padding: 18px 36px;
            color: #fff;
        }
    }

    &__link:hover {
        text-decoration: underline;
        color: #fe5644;
    }
}

