// non-standard-tasks styles

.non-standard-tasks {
    width: 100%;
    margin-top: 7.031vw;

    @include responsive(mobile) {
        margin-top: 19.615vw;
    }

    .container {
        max-width: 60.417vw;

        @include responsive(mobile) {
            max-width: 95%;
        }
    }

    .section__title {
        @include responsive(mobile) {
            position: relative;
            padding-top: 21.346vw;
        }

        &-subtitle {
            width: 41.927vw;
            font-size: 1.146vw;
            font-weight: 500;
            line-height: 1.27;
            color: #555555;

            @include responsive(mobile) {
                // margin-top: 0;
                // width: 81.538vw;
                // font-size: 4.231vw;
                // line-height: 1.27;
                // text-align: center;
                position: absolute;
                top: -2.115vw;
                left: 50%;
                transform: translateX(-50%);
                width: 95%;
                font-size: 4.231vw;
                line-height: 1.27;
                text-align: center;
            }

            span {
                display: none;

                @include responsive(mobile) {
                    display: inline;
                }
            }
        }
    }

    .services-list {
        margin-top: 2.656vw;

        @include responsive(mobile) {
            margin-top: 5.577vw;
        }

        &__img-wrapp {
            width: 17.708vw;
            height: 12.500vw;
            border-radius: 2.604vw;

            @include responsive(mobile) {
                width: 65.385vw;
                height: 46.154vw;
                border-radius: 9.615vw;
            }
        }
    
        &__label {
            margin-top: 0.677vw;
            font-size: 0.938vw;
            font-weight: 500;
            line-height: 1.22;
            text-align: center;
            color: #555555;

            @include responsive(mobile) {
                margin-top: 2.115vw;
                font-size: 3.462vw;
            }
        }
    }
}