// payment-sms styles

.payment-sms {
    width: 100%;
    height: 39.583vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include responsive(mobile) {
        padding-top: 14.808vw;
        padding-bottom: 11.346vw;
        height: auto;
    }

    .container {
        @include responsive(mobile) {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }
    }

    .calculate-bg {
        position: absolute;
        width: 18.750vw;
        top: 13.854vw;
        left: -0.521vw;
        z-index: 1000;

        @include responsive(mobile) {
            width: 36.731vw;
            top: auto;
            bottom: 20.385vw;
        }
    }

    &__bg-img {
        width: 50vw;
        height: 39.583vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include responsive(mobile) {
            display: none;
        }

    }

    .slider-block {
        position: absolute;
        right: 0;

        @include responsive(mobile) {
            top: 55.769vw;
            left: 0;
        }
        
    }

    &__inner {
        width: 68.750vw;
        height: 25vw;
        margin: 0 auto;
        padding: 3.802vw 3.958vw 3.333vw 3.958vw;
        border-radius: 2.344vw;
        box-shadow: 0px 0.938vw 2.443vw 0.214vw rgba(0, 0, 0, 0.14);
        background-color: #fff;
        position: relative;

        @include responsive(mobile) {
            width: 100%;
            height: auto;
            padding: 0;
            padding-top: 0.192vw;
            box-shadow: none;
        }

    }

    .section__title {
        width: 27.083vw;

        @include responsive(mobile) {
            width: 100%;
        }

        &-title {
            text-align: left;
            font-size: 2.500vw;;

            @include responsive(mobile) {
                text-align: center;
                font-size: 7.115vw;
            }
        }
    
        &-subtitle {
            width: 27.083vw;
            margin: 0;
            margin-top: 1.042vw;
            padding-bottom: 2.813vw;
            border-bottom: 0.052vw solid #cccccc;
            font-size: 1.354vw;
            font-weight: 500;
            line-height: 1.23;
            text-align: left;

            @include responsive(mobile) {
                width: 82.692vw;
                margin: 0 auto;
                margin-top: 2.692vw;
                font-size: 4.231vw;
                line-height: 1.18;
                text-align: center;
                border-bottom: none;
            }
        }
    }

    &__icon-wrapper {
        width: 27.083vw;
        margin-top: 1.823vw;
        margin-left: 0.260vw;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include responsive(mobile) {
            width: 100%;
            margin-top: 132.692vw;
            padding-top: 4.231vw;
            border-top: 0.192vw solid #cccccc;
        }
    }

    &__icons-label {
        width: 14.271vw;
        font-family: "Philosopher", sans-serif;
        font-size: 1.458vw;
        font-weight: bold;
        line-height: 1.07;
        text-align: left;
        color: #333333;

        @include responsive(mobile) {
            width: 100%;
            // width: 46.923vw;
            margin-top: -1.731vw;
            padding-left: 5.769vw;
            font-size: 4.231vw;
            line-height: 1.09;
        }
    }

    &__icons-list {
        width: 11.458vw;
        margin-top: 0.260vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive(mobile) {
            // width: 42.692vw;
            width: 92%;
            margin-top: 1.154vw;
            margin-right: 7.115vw;
        }

    }

    .icons-item {
        &__image {
            width: 2.604vw;
            height: 2.604vw;
            border-radius: 0.781vw;
            position: relative;

            @include responsive(mobile) {
                width: 11.538vw;
                height: 11.538vw;
                border-radius: 4.423vw;
            }
        }

        &__label {
            margin-top: 0.469vw;
            font-size: 0.625vw;
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: 0.025vw;
            text-align: center;
            color: #333333;

            @include responsive(mobile) {
                margin-top: 1.346vw;
                font-size: 2.308vw;
                line-height: 1.33;
                letter-spacing: 0.092vw;
            }
        }
    }

    &__icons-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1500;

        &:last-child {
            margin-right: -0.260vw;
        }

        &:hover {
            .icons-item__label {
                color: #fe5644;
            }
        }
    }

    &__image {
        position: absolute;
        top: 57%;
        left: 36.354vw;
        transform: translate(-50%, -50%);
        z-index: 1000;

        @include responsive(mobile) {
            top: 95vw;
            left: 24.038vw;
        }

        img {
            width: 29.427vw;

            @include responsive(mobile) {
                width: 108.654vw;
            }
        }
    }
}

#payment-sms_calc {

    @include responsive(mobile) {
        padding-top: 11.538vw;
    }

    .payment-sms__inner {
        padding-top: 3.542vw;

        @include responsive(mobile) {
            padding-top: 0.192vw;
        }
    }
    .payment-sms__icon-wrapper {
        margin-top: 2.188vw;
        margin-left: 0.104vw;

        @include responsive(mobile) {
            width: 100%;
            margin-top: 136.538vw;
            padding-top: 8.654vw;
            border-top: 0.192vw solid #cccccc;
        }
    }
    .payment-sms__icons-list {
        margin-top: 0.365vw;

        @include responsive(mobile) {
            margin-right: 6.923vw;
            margin-top: 0.769vw;
        }
    }
}

.svg-wrapp {
    width: 2.604vw;
    height: 2.604vw;
    border-radius: 0.990vw;
    overflow: hidden;

    @include responsive(mobile) {
        width: 11.538vw;
        height: 11.538vw;
        border-radius: 4.423vw;
    }
}

.svg-w {
    box-shadow: 0px 0.313vw 0.521vw 0 rgba(54, 163, 93, 0.45);

    @include responsive(mobile) {
        box-shadow: 0px 1.154vw 1.923vw 0 rgba(54, 163, 93, 0.45);
    }
}

.svg-v {
    box-shadow: 0px 0.313vw 0.521vw 0 rgba(126, 88, 213, 0.45);

    @include responsive(mobile) {
        box-shadow: 0px 1.154vw 1.923vw 0 rgba(126, 88, 213, 0.45);
    }
}

.svg-t {
    box-shadow: 0px 0.313vw 0.521vw 0 rgba(60, 127, 217, 0.45);

    @include responsive(mobile) {
        box-shadow: 0px 1.154vw 1.923vw 0 rgba(60, 127, 217, 0.45);
    }
}
