// form styles

.form {
    &-elem  {
        height: 3.125vw;
        border-radius: 1.563vw;
        outline: none;
        border: none;
        font-family: "Montserrat";
    }

    .input-number {
        width: 13.542vw;
        padding: 0 1.563vw;
        border: solid 0.156vw #ebe8f0;
        background-color: #faf9fc;
        font-size: 1.042vw;
        font-weight: 500;
        line-height: 0.8;
        text-align: left;
        color: #7da4ff;

        &::placeholder {
            font-family: "Montserrat";
            font-size: 1.042vw;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            color: #7da4ff;
        }
    }

    .send-btn {
        width: 10.417vw;
        margin-left: 1.563vw;
        box-shadow: 0px 0.521vw 2.083vw 0 rgba(251, 88, 72, 0.45);
        background-image: linear-gradient(to bottom, #ff8f6f, #fb5849);
        font-size: 0.729vw;
        font-weight: 600;
        letter-spacing: 0.56px;
        text-align: center;
        color: #ffffff;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(to bottom, #ff7c54, #fc4c39);
        }
    }
}