// services styles

.services {
    width: 100%;
    padding-top: 4.896vw;

    @include responsive(mobile) {
        padding-top: 10vw;
        margin-top: 0;
    }

    .container {
        max-width: 68.750vw;

        @include responsive(mobile) {
            max-width: 81.538vw;
        }
    }
}

.section__title {

    &-title {
        font-family: "Philosopher", sans-serif;
        font-size: 2.500vw;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #333333;

        @include responsive(mobile) {
            font-size: 6.154vw;
            font-weight: 700;
        }
    }

    &-subtitle {
        width: 56.250vw;
        margin: 0 auto;
        margin-top: 0.625vw;
        font-size: 1.667vw;
        font-weight: 500;
        line-height: 1.25;
        text-align: center;
        color: #777777;

        @include responsive(mobile) {
            width: 94%;
            margin-top: 2.333vw;
            font-size: 5.333vw;
        }
    }
}

.services-list {
    width: 100%;
    margin-top: 2.083vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include responsive(mobile) {
        flex-direction: column;
        margin-top: 8.654vw;
    }

    

    &__item {
        display: inline-block;
        margin-top: 1.979vw;

        @include responsive(mobile) {
            margin-top: 48px;
        }

    }


    &__item:first-child,
    &__item:nth-child(2),
    &__item:nth-child(3) {
        margin-top: 0;

        @include responsive(mobile) {
            margin-top: 9.231vw;
        }
    }

    &__item:first-child {
        @include responsive(mobile) {
            margin-top: 0;
        }
    }

    &__img-wrapp {
        width: 20.833vw;
        height: 14.583vw;
        border-radius: 2.604vw;
        background-color: #a0a0a0;
        position: relative;
        overflow: hidden;

        @include responsive(mobile) {
            width: 76.923vw;
            height: 53.462vw;
            border-radius: 9.615vw;
        }

        .ok-img {
            width: 2.2vw;
            position: absolute;
            top: 1.563vw;
            right: 1.563vw;
            z-index: 50;

            @include responsive(mobile) {
                width: 7.692vw;
                top: 5.577vw;
                right: 5.769vw;
            }
        }
    }

    &__image {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: 40;
    }

    &__label {
        margin-top: 0.573vw;
        font-size: 0.938vw;
        font-weight: 500;
        line-height: 1.22;
        text-align: center;
        color: #555555;

        @include responsive(mobile) {
            margin-top: 2.500vw;
            font-size: 3.462vw;
        }
    }
}