// write-about-us styles
.write-about-us {
    width: 100%;
    height: auto;
    padding-top: 5.104vw;
    padding-bottom: 3.021vw;
    position: relative;

    .container {
        max-width: 68.229vw;

        @include responsive(mobile) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__bg-img-card {
        width: 22.448vw;
        height: auto;
        position: absolute;
        top: 5.677vw;
        left: 0;

        @include responsive(mobile) {
            display: none;
        }
    }

    &__bg-img-magazine {
        width: 50.938vw;
        height: auto;
        position: absolute;
        top: 6.406vw;
        right: 0;

        @include responsive(mobile) {
            width: 100.385vw;
            top: auto;
            right: 0;
            bottom: 5.769vw;
        }
    }

    &__bloks {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        @include responsive(mobile) {
            flex-direction: column;
        }
    }

    &__block {
        width: 34.375vw;

        @include responsive(mobile) {
            width: 100%;
            padding-top: 11.154vw;
        }

        &:first-child {
            @include responsive(mobile) {
                order: 1;
            }
        }

        &:nth-child(2) {
            @include responsive(mobile) {
                order: 3;
            }
        }

        &:last-child {
            @include responsive(mobile) {
                order: 2;
            }
        }

        &-title {
            font-family: "Philosopher", sans-serif;
            font-size: 1.563vw;
            font-weight: bold;
            line-height: 0.8;
            text-align: left;
            color: #333333;

            @include responsive(mobile) {
                padding-left: 7.692vw;
                font-size: 5vw;
                line-height: 0.92;
            }
        }

        &-subtitle {
            padding-left: 7.692vw;
            margin-top: 0.104vw;
            font-size: 0.833vw;
            font-weight: 500;
            line-height: 1.5;
            text-align: left;
            color: #777777;

            @include responsive(mobile) {
                margin-top: 1.154vw;
                font-size: 3.077vw;
            }
            
            span {
                text-transform: uppercase;
            }
        }
    }

    &__cards {
        width: 100%;
        height: auto;
        margin-top: 1.094vw;
        margin-left: -0.260vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include responsive(mobile) {
            width: 100%;
            margin-top: 2.308vw;
            padding: 0 3.846vw;
            padding-bottom: 3.846vw;
            overflow: hidden;
            overflow-x: scroll;
        }
    }

    &__card {
        width: 10.417vw;
        height: auto;

        @include responsive(mobile) {
            width: 38.462vw;
            margin-left: 3.846vw;
        }
        
        &-img {
            width: 10.417vw;
            height: 7.292vw;
            border-radius: 1.302vw;
            overflow: hidden;
            position: relative;

            @include responsive(mobile) {
                width: 38.462vw;
                height: 26.923vw;
                border-radius: 4.808vw;
            }

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-title {
            margin-top: 0.521vw;
            margin-left: 0.521vw;
            font-size: 0.833vw;
            font-weight: 600;
            line-height: 1.5;
            text-align: left;
            color: #333333;

            @include responsive(mobile) {
                margin-top: 1.538vw;
                margin-left: 1.923vw;
                font-size: 3.077vw;
            }
        }

        &-subtitle {
            width: 9.688vw;
            margin-left: 0.521vw;
            font-size: 0.625vw;
            font-weight: 500;
            line-height: 1.5;
            text-align: left;
            color: #777777;

            @include responsive(mobile) {
                width: 33.269vw;
                margin-left: 1.923vw;
                font-size: 2.308vw;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

    &__block:nth-child(2) {
        width: 30vw;

        @include responsive(mobile) {
            width: 100%;
            margin-top: 3.269vw;
            padding-bottom: 72.500vw;
        }

        .write-about-us__block-subtitle {
            @include responsive(mobile) {
                margin-top: 0.385vw;
            }
        }
    }

    &__block:last-child {
        margin-top: 4.063vw;

        @include responsive(mobile) {
            margin-top: 1.346vw;
        }

        .write-about-us__block-subtitle {
            @include responsive(mobile) {
                margin-top: 0.769vw;
                margin-left: 0.385vw;
            }
        }


        .write-about-us__cards {
            margin-top: 1.198vw;

            @include responsive(mobile) {
                margin-top: 2.692vw;
            }
        }

        .write-about-us__card {
            &-img {
                height: 10.417vw;
                border-radius: 2.344vw;

                @include responsive(mobile) {
                    height: 38.462vw;
                    border-radius: 8.654vw;
                }
            }
        }
    }
}